In [ ]:
import pymssql

In [ ]:
import pymssql

# Establecer la conexiÃ³n con la base de datos
connection = pymssql.connect(
    server="hostdb2-eoi.database.windows.net",
    port="1433",
    user="Administrador",
    password="azurePa$$w0rd",
    database="Northwind"
)

# Creamos un cursor para ejecutar comando en la base de datos
# Creamos un cursor que retorna Tuplas
cursor = connection.cursor()

# Creamos un cursor que retorna Diccionarios
cursor = connection.cursor(as_dict=True)

In [ ]:
######################################################
# SELECT, leer registros de la base de datos
######################################################

# Creamos un cursor que retorna Diccionarios
cursor = connection.cursor(as_dict=True)

# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers")

# Mostar el contenido del cursor utilizando un WHILE
row = cursor.fetchone()
while (row):
    print(f"      ID: {row["CustomerID"]}")
    print(f" Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})\n")
    row = cursor.fetchone()

In [ ]:
# Creamos un cursor que retorna Diccionarios
cursor = connection.cursor(as_dict=True)

# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers")

# Mostar el contenido del cursor utilizando un FOR
cursor.execute("SELECT * FROM dbo.Customers")
for row in cursor.fetchall():
    print(f">      ID: {row["CustomerID"]}")
    print(f"> Empresa: {row["CompanyName"]
                        } - {row["City"]} ({row["Country"]})\n")

In [ ]:
######################################################
# SELECT, leer registros de la base de datos
######################################################

# Creamos un cursor que retorna Tuplas
cursor = connection.cursor()

# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers")

# Mostar el contenido del cursor utilizando un WHILE
row = cursor.fetchone()
while (row):
    print(f"      ID: {row[0]}")
    print(f" Empresa: {row[1]} - {row[5]} ({row[8]})\n")
    row = cursor.fetchone()

In [ ]:
# Creamos un cursor que retorna Tuplas
cursor = connection.cursor()

# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers")

# Mostar el contenido del cursor utilizando un FOR
for row in cursor.fetchall():
    print(f">      ID: {row[0]}")
    print(f"> Empresa: {row[1]} - {row[5]} ({row[8]})\n")

In [ ]:
######################################################
# SELECT, leer registros de la base de datos
######################################################

# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA'")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = %d", "USA")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
pais = input("Nombre del pais: ")

# Opcion A
cursor.execute(f"SELECT * FROM dbo.Customers WHERE Country = '{pais}'")

# Opcion B
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = %d", pais)

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA' AND City = 'San Francisco'")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA' OR Country = 'Germany'")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT CustomerID, CompanyName, City, Country FROM dbo.Customers WHERE Country = 'USA'")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA' OR Country = 'Germany' ORDER BY Country")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA' OR Country = 'Germany' ORDER BY Country ASC")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA' OR Country = 'Germany' ORDER BY Country DESC")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
# Ejemplos del comando SELECT, para leer registros de la base de datos
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA' OR Country = 'Germany' ORDER BY Country, City")

for row in cursor.fetchall():
    print(f"     ID: {row["CustomerID"]}")
    print(f"Empresa: {row["CompanyName"]} - {row["City"]} ({row["Country"]})")

In [ ]:
######################################################
# SELECT, ejemplos de JOIN
######################################################

# Ejemplo que comienza con una consulta y realiza 830 subconsultas dentro del for
# NO ES UN JOIN, son subconsultas que deben evitarse por rendimiento
cursor.execute("SELECT * FROM dbo.Orders")

for row in cursor.fetchall():
    print(f" -> {row["OrderID"]}# - {row["CustomerID"]} {row["OrderDate"]}")

    cursor2 = connection.cursor(as_dict=True)
    cursor2.execute("SELECT * FROM dbo.Employees WHERE EmployeeID = %d", row["EmployeeID"])
    cursor2.execute(f"SELECT * FROM dbo.Employees WHERE EmployeeID = '{row["EmployeeID"]}'")
    employee = cursor2.fetchone()

    print(f"    Pedido gestionado por el empleado {row["EmployeeID"]}: {employee["FirstName"]} {employee["LastName"]}")

In [ ]:
# Ejemplo que ser realiza con una consulta
# query y query2 contienen el mismo JOIN con distinta sintaxis
query = """
    "SELECT o.OrderID, o.CustomerID, o.OrderDate, o.EmployeeID, e.FirstName, e.LastName 
    FROM dbo.Orders AS o, dbo.Employees AS e 
    WHERE o.EmployeeID = e.EmployeeID"
"""
cursor.execute(query)

for row in cursor.fetchall():
    print(f" -> {row["OrderID"]}# - {row["CustomerID"]} {row["OrderDate"]}")
    print(f"    Pedido gestionado por el empleado {row["EmployeeID"]}: {row["FirstName"]} {row["LastName"]}")

In [ ]:
# Ejemplo que ser realiza con una consulta
# query y query2 contienen el mismo JOIN con distinta sintaxis

query2 = """
    SELECT o.OrderID, o.CustomerID, o.OrderDate, o.EmployeeID, e.FirstName, e.LastName
    FROM dbo.Orders AS o
    JOIN dbo.Employees AS e
    ON o.EmployeeID = e.EmployeeID
"""
cursor.execute(query2)

for row in cursor.fetchall():
    print(f" -> {row["OrderID"]}# - {row["CustomerID"]} {row["OrderDate"]}")
    print(f"    Pedido gestionado por el empleado {row["EmployeeID"]}: {row["FirstName"]} {row["LastName"]}")

In [ ]:
######################################################
# SELECT, las agrupaciones
######################################################

# Listado de clientes de USA y el nÃºmero de pedidos de cada cliente
# NO ES UNA AGRUPACIÃN, es una subconsulta dentro del for que debemos evitar por rendimiento
cursor.execute("SELECT * FROM dbo.Customers WHERE Country = 'USA'")
for row in cursor.fetchall():
    cursor2 = connection.cursor()
    cursor2.execute(f"SELECT COUNT(*) FROM dbo.Orders WHERE CustomerID = '{row["CustomerID"]}'")
    print(f"{row["CustomerID"]}# {row["CompanyName"]} -> {cursor2.fetchone()[0]} pedidos")

"""
    Opcionalmente podemos trabajar con cursores que retornan diccionarios, pero estamos 
    obligados a definir alias para el dato calculado usando AS

    cursor2 = connection.cursor(as_dict=True)
    cursor2.execute(f"SELECT COUNT(*) AS NumPedidos FROM dbo.Orders WHERE CustomerID = '{row["CustomerID"]}'")
    print(f"{row["CustomerID"]}# {row["CompanyName"]} -> {cursor2.fetchone()["NumPedidos"]} pedidos")
"""

In [ ]:
# Listado de clientes de USA y el nÃºmero de pedidos de cada cliente
# Solo los cliente con mÃ¡s de 10 pedidos
query = """
    SELECT c.CustomerID, c.CompanyName, COUNT(o.OrderID) AS NumPedidos
    FROM dbo.Customers c
    JOIN dbo.Orders o
    ON c.CustomerID = o.CustomerID
    WHERE c.Country = 'USA'
    GROUP BY c.CustomerID, c.CompanyName
    HAVING COUNT(o.OrderID) > 10
"""
cursor.execute(query)
for row in cursor.fetchall():
    print(f"{row["CustomerID"]}# {row["CompanyName"]} -> {row["NumPedidos"]} pedidos")

In [ ]:
######################################################
# INSERT, insertar nuevo registros
######################################################

# DefiniciÃ³n de un objeto que representa el registro CUSTOMER
class Customer:
    CustomerID = None
    CompanyName = None
    ContactName = None
    ContactTitle = None
    Address = None
    City = None
    Region = None
    PostalCode = None
    Country = None
    Phone = None
    Fax = None


# Instaciamos el objeto CUSTOMER
cliente = Customer()
cliente.CustomerID = "DEMO1"
cliente.CompanyName = "Empresa Uno, SL"
cliente.ContactName = "Borja"
cliente.ContactTitle = "Gerente"
cliente.Address = "Calle Uno, S/N"
cliente.City = "Madrid"
cliente.Region = "Madrid"
cliente.PostalCode = "28016"
cliente.Country = "EspaÃ±a"
cliente.Phone = "900100100"
cliente.Fax = "900100200"

# cliente2 es un diccionario que tambiÃ©n representa el registro CUSTOMER
cliente2 = {"CustomerID": "DEMO2",
            "CompanyName": "Empresa Dos, SL",
            "ContactName": "Borja Cabeza",
            "ContactTitle": "Gerente",
            "Address": "Calle Dos S/N",
            "City": "Madrid",
            "Region": "Madrid",
            "PostalCode": "28019",
            "Country": "EspaÃ±a",
            "Phone": "910 101 102",
            "Fax": "910 101 103"}

# INSERT comando de inserciÃ³n
command = """
    INSERT INTO dbo.Customers(CustomerID, CompanyName, ContactTitle, City, Country)
    VALUES('BCR01', 'Company SL', 'Borja Cabeza', 'Madrid', 'EspaÃ±a')
"""

# Insertamos nuevos registros ejecutado el comando INSERT
cursor.execute(command)

# Utilizamos la funciÃ³n commit() de la conexiÃ³n para CONFIRMAR la transaciÃ³n
# tanto para operaciones de inserciÃ³n, actualizaciÃ³n y borrado
connection.commit()

# Utilizamos la funciÃ³n rollback() de la conexiÃ³n para ANULAR la transaciÃ³n
# tanto para operaciones de inserciÃ³n, actualizaciÃ³n y borrado
connection.rollback()

In [ ]:
# Ejemplo de un comando INSERT que indica las columnas o campos y sus valores
command = """
    INSERT INTO dbo.Customers(
        CustomerID, 
        CompanyName, 
        ContactTitle, 
        City, 
        Country) VALUES('BCR01', 'Company SL', 'Borja Cabeza', 'Madrid', 'EspaÃ±a')
"""

cursor.execute(command)
connection.commit()

In [ ]:
# Ejemplo de un comando INSERT que indica las columnas o campos y comodines para los valores
command2 = """
    INSERT INTO dbo.Customers(
        CustomerID, 
        CompanyName, 
        ContactName,
        ContactTitle, 
        City, 
        Country) VALUES(%s, %s, %s, %s, %s, %s)
"""

# Al ejecutar el comando con comides, pasamos como segundo parÃ¡metros los valores en una lista
cursor.execute(command2, ["BCR02", "Company Demo, SL","Borja", "CEO", "Valencia", "EspaÃ±a"])
connection.commit()

In [ ]:
# El mismo ejemplo donde pasamos los valores en una tupla
cursor.execute(command2, ("BCR03", "Company Demo, SL","Borja", "CEO", "Valencia", "EspaÃ±a"))
connection.commit()

In [ ]:
# Para insertar varios registros al mismo tiempo creamos una lista que contiene en cada posiciÃ³n
# una tupla con los valores de cada registro que vamos a insertar
data = []
data.append(("BCR10", "Company Demo 10, SL", "Borja", "CEO", "Sevilla", "EspaÃ±a"))
data.append(("BCR11", "Company Demo 11, SL", "Carlos", "CEO", "Bilbao", "EspaÃ±a"))
data.append(("BCR12", "Company Demo 12, SL", "Julian", "CEO", "MÃ¡laga", "EspaÃ±a"))

# Utilizamos las funciÃ³n .executemany() para insertar varios registro y pasamos como segundo
# parÃ¡metro la lista de tuplas con los valores de los diferentes registros
cursor.executemany(command2, data)
connection.commit()

# La propieda o variable .rowcount nos devuelve el nÃºmero de registros insertados, actualizados o borrados
print(f"{cursor.rowcount} registros insertados.")

In [ ]:
# Ejemplo de un INSERT donde se especifican valores para todos los campos o columnas del registro
command = """
    INSERT INTO dbo.Customers VALUES(
        'DEMO2',
        'Empresa Dos, SL',
        'Borja Cabeza',
        'Gerente',
        'Calle Dos S/N',
        'Madrid',
        'Madrid',
        '28019',
        'EspaÃ±a',
        '910 101 102',
        '910 101 103')
"""

In [ ]:
# Ejemplo de un INSERT donde se especifican comodines para los valores para todos los
# campos o columnas del registro
command = """
    INSERT INTO dbo.Customers VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [ ]:
######################################################
# UPDATE, actulizar registros
######################################################

# Utilizamos UPDATE para actualizar registros en la base de datos
command = """
    UPDATE dbo.Customers
    SET Address = 'Calle Uno, S/N', ContactName = 'Carlos SÃ¡nchez'
    WHERE CustomerID = 'BCR11'
"""

# Ejecutamos el comando de actulizaciÃ³n
cursor.execute(command)

# Confirmamos la transaciÃ³n y por tanto la operaciÃ³n de actulizaciÃ³n
connection.commit()

# Mostramos los registros actualizados
print(f"{cursor.rowcount} registros actualizados.")

In [ ]:
# Utilizamos UPDATE para actualizar registros en la base de datos
# El comando contiene comodine o parÃ¡metros para sustituir por valores en el momento de la ejecuciÃ³n
command = """
    UPDATE dbo.Customers
    SET Address = %s, ContactName = %s
    WHERE CustomerID = 'BCR12'
"""

# Ejecutamos el comando de actulizaciÃ³n y pasamos los valores para los comodines o parÃ¡metros
cursor.execute(command, ("Calle Principal, 10", "MarÃ­a JosÃ© Sanz"))

# Confirmamos la transaciÃ³n y por tanto la operaciÃ³n de actulizaciÃ³n
connection.commit()

# Mostramos los registros actualizados
print(f"{cursor.rowcount} registros actualizados.")

In [ ]:
# Utilizamos UPDATE para actualizar registros en la base de datos
# El comando contiene comodine o parÃ¡metros para sustituir por valores en el momento de la ejecuciÃ³n
command = """
    UPDATE dbo.Customers
    SET Address = %s, ContactName = %s
    WHERE CustomerID = %s
"""

# Ejecutamos el comando de actulizaciÃ³n y pasamos los valores para los comodines o parÃ¡metros
cursor.execute(command, ("Calle Principal, 10", "MarÃ­a Sanz", "BCR12"))

# Confirmamos la transaciÃ³n y por tanto la operaciÃ³n de actulizaciÃ³n
connection.commit()

# Mostramos los registros actualizados
print(f"{cursor.rowcount} registros actualizados.")

In [ ]:
######################################################
# DELETE, eliminar registros
######################################################

# Utilizamos DELETE para eliminar registros en la base de datos
command = """
    DELETE FROM dbo.Customers
    WHERE CustomerID = 'BCR10'
"""

# Ejecutamos el comando y confirmamos la transaciÃ³n mediante connection.commit()
# Si se produce un error retrocedemos la transaciÃ³n mediante connection.rollback() y la operaciÃ³n de borrado se anual
# Siempre mostramos el nÃºmero de registros eliminados
try:
    cursor.execute(command)
    connection.commit()
except Exception as e:
    connection.rollback()
    print(f"Error: {e}")
finally:
    print(f"{cursor.rowcount} registros eliminados.")
    connection.close()

In [ ]:
# Utilizamos DELETE para eliminar registros en la base de datos, el comando contiene parÃ¡metros
command = """
    DELETE FROM dbo.Customers
    WHERE CustomerID = %s
"""

# Ejecutamos el comando y suminstramos valores para los parÃ¡metros
try:
    cursor.execute(command, ("BCR11"))
    connection.commit()
except Exception as e:
    connection.rollback()
    print(f"Error: {e}")
finally:
    print(f"{cursor.rowcount} registros eliminados.")
    connection.close()